DATABASE_URL="postgresql://neondb_owner:npg_CHa0AuB4ErMg@ep-steep-feather-b596roqt-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="d5a495cf6d0c9c98492eaac8867a7d4b2b0183ee150e6aaac1ca97689a23e742"

# Mailjet Email API (HTTPS; works with Render web services)
MAILJET_API_KEY="77ef6b8b9ad4e6caa44e2e500bd42e2b"
MAILJET_SECRET_KEY="7d62bc073b59fd1da0ff2763036c193c"
MAILJET_FROM_EMAIL="ikonek.app@gmail.com"
MAILJET_FROM_NAME="iKonek"